{% extends "base.html" %}
{% load static %}

{% block static_content %}
  <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

{% endblock static_content %}


{% block breadcrum_content %}
    <div class="col-sm-6">
        <h1 class="m-0">Products</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="{% url 'products_list' %}">Products</a></li>
            
        </ol>
    </div><!-- /.col -->
{% endblock breadcrum_content %}


{% block main_content %}
    <!-- Add Product form -->

    <div class="row mb-2">
        <div class="col-12">
            <div class="row mb-2">
                <div class="col-2">
                    <a href="{% url 'products_add' %}" class="btn btn-default btn-lg bg-gradient-purple text-warning">
                        <i class="fas fa-barcode"></i> &nbsp; Add Products
                    </a>
                </div>
                <div class="col-2">
                    <a href="{% url 'products_category_add' %}" class="btn btn-default btn-lg bg-gradient-purple text-warning">
                        <i class="fas fa-plus "></i> &nbsp; Add Category
                    </a>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-success">
              <h3 class="card-title text-bold">Products List</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Availabe</th>
                    <th>Unit</th>
                    <th>Purchase (Rs)</th>
                    <th>Sale (Rs)</th>
                    <th>Color</th>
                    <th>Distributor</th>
                    <th>Pre-Order</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody style="text-align: center;">
                  {% for product in inventory %}
                    {% if product.product.is_active %}
                      <tr>
                        <td><a href="{% url 'product_detail' product.id %}" class="text-bold text-info">{{product.product.product_code}}</a></td>
                        <td>{{product.product.product_name}}</td>
                        <td>{{product.product.product_category}}</td>
                        {% if product.product_quantity == 0 %}
                          <td><span class="text-danger text-bold">Out of stock</span></td>
                          {% else %}
                            {% if product.product_quantity < 5 %}
                              <td style="background-color: firebrick;"><span class="text-warning text-bold">{{ product.product_quantity }}</span></td>
                              {% else %}
                              <td>{{ product.product_quantity }}</td>
                              {% endif %}
                          
                        {% endif %}
                        
                        <td>{{product.product.p_unit}}</td>
                        <td>{{product.product.purchase_price }}</td>
                        <td>{{product.product.sale_price}}</td>
                        <td><div style="height: 30px; width: auto; background-color: {{product.product.product_color}};"></div></td>
                        {% if product.product.distributor %}
                          <td><a href="#" class="text-bold text-info" data-toggle="modal" data-target="#modal-{{product.product.distributor.id}}"> {{product.product.distributor}}</a></td>
                          {% else %}
                            <td>No distributor</td>
                        {% endif %}
                        {% if product.product.allow_pre_order %}
                          <td><i class="fa fa-check text-success"></i></td>
                          {% else %}
                            <td><i class="fa fa-times text-danger"></i></td>
                        {% endif %}
                        <td>
                          <a href="{% url 'product_edit' product.id %}" class="btn btn-warning btn-default btn-sm">
                            <i class="fas fa-edit"></i> Edit
                          </a>
                          &nbsp;
                          <a href="#" class="btn btn-danger btn-default btn-sm" data-toggle="modal" data-target="#modal-del-{{product.product.id}}">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                      {% include "Products/partials/distributor_detail_modal.html" %}
                      {% include "Products/partials/product_in_active_modal.html" %}
                    {% endif %}
                  {% endfor %}
                  
                </tbody>
                <tfoot>
                  <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Availabe</th>
                    <th>Unit</th>
                    <th>Purchase (Rs)</th>
                    <th>Sale (Rs)</th>
                    <th>Color</th>
                    <th>Distributor</th>
                    <th>Pre-Order</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
          </div>
          <!-- /.card-body -->
      </div>
      <!-- /.card -->
      </div>
    </div>

{% endblock main_content %}


{% block script_content %}
  <!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "lengthChange": true, 
      "autoWidth": true,
      "info": true,
      "ordering": true,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
{% endblock script_content %}