<div class="modal fade" id="modal-del-{{product.product.id}}">
    <div class="modal-dialog">
      <div class="modal-content bg-danger">
        <div class="modal-header">
          <h4 class="modal-title text-dark text-bold">Delete {{product.product.product_name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <dl class="row">
                <form action="{% url 'inactive-product' product.product.id %}" method="post">
                    {% csrf_token %}
                    <dd class="col-sm-8"><h3>Are you sure you want to delete {{ product.product.product_name }} ?</h3></dd>
                    <input type="hidden" name="">
            </dl>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            <button class="btn btn-outline-light" type="submit">Delete</button>
        </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->