{% extends 'base.html' %}
{% load static %}

{% block static_content %}

{% endblock static_content %}

{% block breadcrum_content %}
    <div class="col-sm-6">
        <h1 class="m-0">Distributor</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="{% url 'purchaser-list' %}">Distributor</a></li>
            <li class="breadcrumb-item">Delete</li>
        </ol>
    </div><!-- /.col -->
{% endblock breadcrum_content %}

{% block main_content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <form method="post">
            {% csrf_token %}
            <p class = "h3">Are you sure you want to delete "{{ object.id }}. {{object.company_name}}"?</p>
            <a href="{% url 'purchaser-list' %}" class="btn btn-secondary">Cancel</a>
            <input type="submit" value="Confirm" class="btn btn-danger">
        </form>

    </div>
    <div class="col-md-1"></div>
</div>
{% endblock main_content %}


{% block script_content %}{% endblock script_content %}
